# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import csv
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
#1st try
csv_path = os.path.join("..", "output_data", "weather_data_500.csv")

weather_data_500cities_df = pd.read_csv(csv_path)
weather_data_500cities_df

,City,Latitude,Longitude,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country_Code
0,guerrero negro,20.04980,-124.30876,76.55,59,42,13.69,mx
1,aksaray,38.09462,34.08466,57.20,67,40,3.36,tr
2,lokosovo,60.14940,74.18426,50.40,89,71,3.42,ru
3,upernavik,76.18924,-57.14193,31.37,94,92,4.18,gl
4,touros,-2.00498,-35.08715,73.40,78,20,4.70,br
...,...,...,...,...,...,...,...,...
1106,arrecife,29.07221,-13.03237,71.60,88,0,8.05,es
1107,chokurdakh,82.20418,145.36105,57.81,43,82,7.18,ru
1108,avarua,-47.11703,-166.41334,73.40,64,48,10.29,ck
1109,hohhot,41.10209,112.27888,62.60,45,0,2.24,cn
1110,belaya gora,68.16932,147.36603,58.44,37,3,15.75,ru

In [12]:
weather_data_500cities_df['Longitude'].min()
weather_data_500cities_df = weather_data_500cities_df.loc[(weather_data_500cities_df["Longitude"]>-180)]
weather_data_500cities_df = weather_data_500cities_df.loc[(weather_data_500cities_df["Longitude"]<180)]
weather_data_500cities_df = weather_data_500cities_df.loc[(weather_data_500cities_df["Latitude"]>-90)]
weather_data_500cities_df = weather_data_500cities_df.loc[(weather_data_500cities_df["Latitude"]<90)]
print(weather_data_500cities_df['Longitude'].min())
print(weather_data_500cities_df['Longitude'].max())
print(weather_data_500cities_df['Latitude'].min())
print(weather_data_500cities_df['Latitude'].max())

-178.44322000000003
179.44571000000005
-89.22161000000001
89.22161000000001

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [22]:
# SET UP LAT LONG PAIRS
Coords1 = weather_data_500cities_df[['Latitude', 'Longitude']]

# Set up a list of humidities
Humidity = weather_data_500cities_df[['Humidity']]
# Humidity = float(Humidity)
HumidityList = Humidity.values.tolist()
HumidityList = float(HumidityList)

# # CONFIGURE GMAPS
# gmaps.configure(api_key=g_key)

# # Customize Layout
# figure_layout = {
#     'width': '800px',
#     'height': '600px'
# }

# # store the figure in a variable so we can continue to add layers to the same map
# Myfig = gmaps.figure(layout=figure_layout)

# # Create a marker layer using our coordinates
# heat_layer = gmaps.heatmap_layer(Coords1, weights=HumidityList)

# # Add the layer to the map
# Myfig.add_layer(heat_layer)

# # display the figure with the newly added layer
# Myfig

TypeError: float() argument must be a string or a number, not 'list'

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [25]:
ideal_weather_cities_df = weather_data_500cities_df.loc[(weather_data_500cities_df["Max_Temp"]<85) & (weather_data_500cities_df["Max_Temp"]>65) & 
                                                        (weather_data_500cities_df["Wind_Speed"]<15) & (weather_data_500cities_df["Cloudiness"]<10) & 
                                                        (weather_data_500cities_df["Humidity"]<55)]
ideal_weather_cities_df

,City,Latitude,Longitude,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country_Code
9,palmeiras de goias,-17.04233,-50.12450,69.69,34,0,5.37,br
24,ipora,-17.04233,-51.12699,70.68,27,0,3.04,br
174,carson city,39.09711,-119.29631,77.00,10,1,6.31,us
196,airai,8.01992,144.35856,75.15,38,1,7.76,pw
220,riverton,43.10707,-108.26892,75.20,31,1,6.93,us
326,grottammare,43.10707,14.03486,66.00,28,0,3.00,it
362,baherden,39.09711,58.14442,75.00,20,0,2.48,tm
386,jalu,25.06225,22.05478,78.98,44,0,11.92,ly
537,corinto,10.02490,-89.22161,75.99,47,0,1.01,ni
542,gurupi,-11.02739,-49.12201,73.45,37,1,4.12,br
696,niksic,43.10707,19.04731,84.20,32,2,8.05,me
709,asyut,26.06474,29.07221,75.20,47,0,9.17,eg
716,komsomolskiy,76.18924,173.43077,68.00,34,0,6.31,ru
771,price,38.09462,-110.27390,73.40,13,1,4.70,us
792,angren,41.10209,70.17430,69.98,22,0,0.65,uz
841,joao pinheiro,-17.04233,-46.11454,66.69,38,0,8.77,br
860,airai,19.04731,146.36354,75.15,38,1,7.76,pw
926,elesbao veloso,-6.01494,-42.10458,78.37,37,1,9.01,br
1000,airai,6.01494,139.34611,75.15,38,1,7.76,pw
1042,abdanan,33.08217,47.11703,76.37,19,0,9.60,ir
1102,airai,14.03486,135.33615,75.15,38,1,7.76,pw

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [34]:
hotel_df = ideal_weather_cities_df.copy()
hotel_df["Hotel_Name"] = ""
hotel_df["Hotel_Lat"] = ""
hotel_df["Hotel_Long"] = ""

In [41]:
# geocoordinates for the base of our search
# target_location = "29.714033,-95.406480" # coordinates for Rice University

# distance, IN METERS, within which the place results must live
target_radius = 5000

# keyword term to be matched against all of Google's indexed content
target_keyword = "Hotel"

# type of establishment that we'd like to use to filter our place results
target_type = "Hotel"


# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# set up a dictionary to store all query parameters
parameters = {
#     "location": target_location,
    "keyword": target_keyword,
    "radius": target_radius,
#     "rankby": "distance"
    "type": target_type,
    "key": g_key
}

# run a request using our params dictionary
for index, row in hotel_df.iterrows():
    lat = row["Hotel_Lat"]
    lng = row["Hotel_Long"]
    parameters["Location"] = f"{lat}, {lng}""
    hotel_info =  requests.get(base_url, params=parameters)
    
    # print the response url, avoid doing for public github repos in order to avoid exposing key

    
    # hotel_info_json = hotel_info.json()
    # pprint(hotel_info_json['results'][0]['name'])
    # hotel_df.loc[index, Hotel_Name] =  hotel_info_json['results'][0]['name'])
    # hotel_df.loc[index, Hotel_Lat] =  hotel_info_json['results'][0]['name']['geometry']['location']['lat'])
    # hotel_df.loc[index, Hotel_Lat] =  hotel_info_json['results'][0]['name']['geometry']['location']['lat'])
hotel_df

https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=29.714033%2C-95.406480&keyword=Hotel&radius=5000&type=Hotel&key=AIzaSyC-NMA8imX9gPlHXl6mh2Yh9pObSEMTVEs

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure